<!DOCTYPE html>
<html>
<head>
    <title>Opcache Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="/assets/manifest.json" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/assets/bundle.js"></script>
</body>
</html>
